<h1>Номера</h1>

<%= link_to 'Загрузить', upload_tnumbers_path %>


<table>
  <tr>
    <th>Номер Телефона</th>
    <th>Городской номер</th>
    <th>Фамилия Имя Отчество</th>
    <th>Статус</th>
    <th>Тариф</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tnumbers.each do |tnumber| %>
  <tr>
    <td><%= link_to tnumber.voicenumber,  tnumber %></td>
    <td><%= tnumber.sortnumber %></td>
    <td><%= link_to tnumber.current_user.fullname if tnumber.current_user.present?  %></td>
    <td><%= tnumber.block == true ? "Заблокирован" : "Активен"  %></td>
    <td><%= tnumber.tarif_text %></td>
    <td><%= link_to 'Изменить', edit_tnumber_path(tnumber) %></td>
    <td><%= link_to 'Удалить', tnumber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tnumber', new_tnumber_path %>
