<h1>Выходные дни</h1>

<%= link_to 'Добавить выходной', new_holiday_path %>
<table>
  <tr>
    <th>Дата выходного дня</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @holidays.each do |holiday| %>
  <tr>
    <td><%= holiday.date %></td>
    <td><%= link_to 'Show', holiday %></td>
    <td><%= link_to 'Edit', edit_holiday_path(holiday) %></td>
    <td><%= link_to 'Destroy', holiday, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Добавить выходной', new_holiday_path %>
