<h1>Listing simlogs</h1>

<table>
  <tr>
    <th>Sim</th>
    <th>User</th>
    <th>Datestart</th>
    <th>Datestop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @simlogs.each do |simlog| %>
  <tr>
    <td><%= simlog.sim_id %></td>
    <td><%= simlog.user_id %></td>
    <td><%= simlog.datestart %></td>
    <td><%= simlog.datestop %></td>
    <td><%= link_to 'Show', simlog %></td>
    <td><%= link_to 'Edit', edit_simlog_path(simlog) %></td>
    <td><%= link_to 'Destroy', simlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Simlog', new_simlog_path %>
