<%= form_for(@user) do |fu| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this userlog from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= fu.label "Фамилия" %><br />
      <%= fu.text_field  :sname %>

  </div>

  <div class="field">
      <%= fu.label "Имя" %><br />
      <%= fu.text_field  :fname %>

  </div>

  <div class="field">
      <%= fu.label "Отчество" %><br />
      <%= fu.text_field  :mname %>

  </div>

  <%= fields_for @userlog do |f| %>


      <div class="field">
        <%= f.label "Отдел" %><br />
        <%= f.collection_select(:cfu_id, Cfu.all, :id, :namecfu) %>
      </div>
      <div class="field">
        <%= f.label "Расписание" %><br />
        <%= f.collection_select(:schedule_id, Schedule.all, :id, :times ) %>
      </div>
      <div class="field">
        <%= f.label "Денежный лимит" %><br />
        <%= f.collection_select(:sumlimit_id, Sumlimit.all, :id, :namelimit) %>
      </div>

      <div class="actions">
    <% end %>   
  <%= fu.submit %>
  </div>
<% end %>