<%= form_for(@user) do |fu| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this userlog from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
      <%= fu.label :sname %><br />
      <%= fu.text_field  :sname %>

  </div>

  <%= fields_for @userlog do |f| %>

      <div class="field">
        <%= f.label :user_id %><br />
        <%= f.number_field :user_id %>

      </div>
      <div class="field">
        <%= f.label :cfu_id %><br />
        <%= f.collection_select(:cfu_id, Cfu.all, :id, :namecfu) %>
      </div>
      <div class="field">
        <%= f.label :schedule_id %><br />
        <%= f.collection_select(:shedule_id, Schedule.all, :id, :timein) %>
      </div>
      <div class="field">
        <%= f.label :sumlimit_id %><br />
        <%= f.collection_select(:sumlimit_id, Sumlimit.all, :id, :namelimit) %>
      </div>
      <div class="field">
        <%= f.label :datestart %><br />
        <%= f.datetime_select :datestart %>
      </div>
      <div class="field">
        <%= f.label :datestop %><br />
        <%= f.datetime_select :datestop %>
      </div>
      <div class="actions">
    <% end %>   
  <%= fu.submit %>
  </div>
<% end %>