<%= form_for(@user,url: {action: "getsim"}) do |fu| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simlog.errors.count, "error") %> prohibited this simlog from being saved:</h2>

      <ul>
      <% @simlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= @user.fullname %>


  <%= fields_for @simlog do |f| %>

    <div class="field">
      <%= f.label :sim_id %><br />
      <%= f.collection_select(:sim_id, Sim.where(:id =>@user.owensims_id), :id, :sirealnumber_with_currentvicenumber )  %>
    </div>
    <div class="field">
      <%= f.label :datestop %><br />
      <%= f.datetime_select :datestop %>
    </div>
  <% end %>

  <div class="actions">
    <%= fu.submit %>
  </div>
<% end %>