<h1>Listing users</h1>

<table>
  <tr>
    <th>Sname</th>
    <th>Fname</th>
    <th>Mname</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.sname %></td>
    <td><%= user.fname %></td>
    <td><%= user.mname %></td>
    <td><%= user.userlog.last.cfu.namecfu %></td>
    <td><%= user.userlog.last.schedule.timein %></td>
    <td><%= user.userlog.last.sumlimit.namelimit %></td>
    <td><%= link_to 'Выдать sim', putsim_user_path(user) %></td>
    <td><%= link_to 'Забрать sim', getsim_user_path(user) %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
