<p id="notice"><%= notice %></p>

<%= link_to 'Заявление на удеражние', application_user_path(@user) %>

<p>
  <b>Sname:</b>
  <%= @user.sname %>
</p>

<p>
  <b>Fname:</b>
  <%= @user.fname %>
</p>

<p>
  <b>Mname:</b>
  <%= @user.mname %>
</p>

<p>
  <b>Cfu:</b>
  <%= @user.userlog.last.cfu.namecfu %>
</p>

<p>
  <b>Schedule:</b>
  <%= @user.userlog.last.schedule.timein.to_s %>
</p>

<p>
  <b>Sumlimit</b>
  <%= @user.userlog.last.sumlimit.namelimit %>
</p>

<p>
  <b>Сим карты </b>
  <% @user.owensims.each do |u| %>
  <p><%= u.sim.sirealnumber_with_currentvicenumber %></p>
  <% end %>
</p>



<table>
  <tr>
    <th>Начало</th>
    <th>Конец</th>
    <th>Отдел</th>
    <th>Расписание</th>
    <th>Лимит</th>
  </tr>

<% @user.userlog.each do |u| %>
  <tr>
    <td><%= u.datestart %></td>
    <td><%= u.datestop %></td>
    <td><%= u.cfu.namecfu %></td>
    <td><%= u.schedule.timein %></td>
    <td><%= u.sumlimit.namelimit %></td>
  </tr>
<% end %>
</table>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
