<%= form_for(@userlog) do |f| %>
  <% if @userlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@userlog.errors.count, "error") %> prohibited this userlog from being saved:</h2>

      <ul>
      <% @userlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :cfu_id %><br />
    <%= f.number_field :cfu_id %>
  </div>
  <div class="field">
    <%= f.label :shedule_id %><br />
    <%= f.number_field :shedule_id %>
  </div>
  <div class="field">
    <%= f.label :sumlimit_id %><br />
    <%= f.number_field :sumlimit_id %>
  </div>
  <div class="field">
    <%= f.label :datestart %><br />
    <%= f.datetime_select :datestart %>
  </div>
  <div class="field">
    <%= f.label :datestop %><br />
    <%= f.datetime_select :datestop %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
