<h1>Listing userlogs</h1>

<table>
  <tr>
    <th>User</th>
    <th>Cfu</th>
    <th>Schedule</th>
    <th>Sumlimit</th>
    <th>Datestart</th>
    <th>Datestop</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @userlogs.each do |userlog| %>
  <tr>
    <td><%= userlog.user_id %></td>
    <td><%= userlog.cfu_id %></td>
    <td><%= userlog.schedule_id %></td>
    <td><%= userlog.sumlimit_id %></td>
    <td><%= userlog.datestart %></td>
    <td><%= userlog.datestop %></td>
    <td><%= link_to 'Show', userlog %></td>
    <td><%= link_to 'Edit', edit_userlog_path(userlog) %></td>
    <td><%= link_to 'Destroy', userlog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Userlog', new_userlog_path %>
