<h1>Listing typecalls</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @typecalls.each do |typecall| %>
  <tr>
    <td><%= typecall.name %></td>
    <td><%= link_to 'Show', typecall %></td>
    <td><%= link_to 'Edit', edit_typecall_path(typecall) %></td>
    <td><%= link_to 'Destroy', typecall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Typecall', new_typecall_path %>
