<p id="notice"><%= notice %></p>

<p>
  <b>Tnumber:</b>
  <%= @calllog.tnumber %>
</p>

<p>
  <b>Load:</b>
  <%= @calllog.load_id %>
</p>

<p>
  <b>Date:</b>
  <%= @calllog.date %>
</p>

<p>
  <b>Duration:</b>
  <%= @calllog.duration %>
</p>

<p>
  <b>Coast:</b>
  <%= @calllog.coast %>
</p>

<p>
  <b>Tnumber out:</b>
  <%= @calllog.tnumber_out %>
</p>

<p>
  <b>Tnumber in:</b>
  <%= @calllog.tnumber_in %>
</p>

<p>
  <b>Typecall:</b>
  <%= @calllog.typecall_id %>
</p>

<p>
  <b>Descriptioncall:</b>
  <%= @calllog.descriptioncall_id %>
</p>

<p>
  <b>Typeconnect:</b>
  <%= @calllog.typeconnect_id %>
</p>

<p>
  <b>Base:</b>
  <%= @calllog.base %>
</p>

<p>
  <b>Valuemb:</b>
  <%= @calllog.valuemb %>
</p>


<%= link_to 'Edit', edit_calllog_path(@calllog) %> |
<%= link_to 'Back', calllogs_path %>
