<h1>Listing loadcalls</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Admin</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @loadcalls.each do |loadcall| %>
  <tr>
    <td><%= loadcall.date %></td>
    <td><%= loadcall.admin %></td>
    <td><%= link_to 'Show', loadcall %></td>
    <td><%= link_to 'Edit', edit_loadcall_path(loadcall) %></td>
    <td><%= link_to 'Destroy', loadcall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Loadcall', new_loadcall_path %>
