<%= form_for(@sim) do |fu| %>
  <% if @sim.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sim.errors.count, "error") %> prohibited this simnumlog from being saved:</h2>

      <ul>
      <% @sim.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= @sim.sirealnumber %><br />
  </div>

<%= fields_for @simnumlog do |f| %>
    <div class="field">
      <%= f.label :tnumber_id %><br />
      <%= f.collection_select(:tnumber_id,  Tnumber.where(:id =>Tnumber.freetnumbers_id), :id, :voicenumber) %>
    </div>

    <div class="field">
      <%= f.label :datestart %><br />
      <%= f.datetime_select :datestart %>
    </div>
    <div class="field">
      <%= f.label :datestop %><br />
      <%= f.datetime_select :datestop %>
    </div>
    <% end %>

  <div class="actions">
    <%= fu.submit %>
  </div>
<% end %>
