<h1>Listing sims</h1>

<table>
  <tr>
    <th>Sirealnumber</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th>Free?</th>
  </tr>

<% @sims.each do |sim| %>
  <tr>
    <td><%= sim.sirealnumber %></td>
    <td><%= link_to 'Connect', connect_sim_path(sim) %></td>
    <td><%= link_to 'Disconnect', disconnect_sim_path(sim) %></td>
    <td><%= link_to 'Show', sim %></td>
    <td><%= link_to 'Edit', edit_sim_path(sim) %></td>
    <td><%= link_to 'Destroy', sim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= sim.isfree? %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sim', new_sim_path %>
