<h1>Сим карты</h1>

<%= link_to 'Загрузить', upload_sims_path %>

<%= link_to 'Новая сим карта', new_sim_path %>

<table>
  <tr>
    <th>Серильный номер</th>
    <th>Текущий номер</th>
    <th>Прикрепить/отключить номер</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    
  </tr>

<% @sims.each do |sim| %>
  <tr>
    <td><%= link_to sim.sirealnumber, sim %></td>
    <td><%= sim.currentvoicenumber %></td>
    <td><%= link_to 'Прикреить', connect_sim_path(sim) %> <%= link_to 'Открепить', disconnect_sim_path(sim) %> </td>
    <td><%= link_to 'Редактировать', edit_sim_path(sim) %></td>
    <td><%= link_to 'Удалить', sim, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <td><%= sim.isfree? %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Новая сим карта', new_sim_path %>
