<%= form_for(@simnumlog) do |f| %>
  <% if @simnumlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@simnumlog.errors.count, "error") %> prohibited this simnumlog from being saved:</h2>

      <ul>
      <% @simnumlog.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :tnumber_id %><br />
    <%= f.number_field :tnumber_id %>
  </div>
  <div class="field">
    <%= f.label :sim_id %><br />
    <%= f.number_field :sim_id %>
  </div>
  <div class="field">
    <%= f.label :datestart %><br />
    <%= f.datetime_select :datestart %>
  </div>
  <div class="field">
    <%= f.label :datestop %><br />
    <%= f.datetime_select :datestop %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
