<h1>Дененжные лимиты</h1>

<table>
  <tr>
    <th>Название лимита</th>
    <th>Лимит р.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sumlimits.each do |sumlimit| %>
  <tr>
    <td><%= link_to sumlimit.namelimit, sumlimit %></td>
    <td><%= sumlimit.money %></td>
    <td><%= link_to 'Редактировать', edit_sumlimit_path(sumlimit) %></td>
    <td><%= link_to 'Удалить', sumlimit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sumlimit', new_sumlimit_path %>
