<h1>Listing sumlimits</h1>

<table>
  <tr>
    <th>Namelimit</th>
    <th>Money</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sumlimits.each do |sumlimit| %>
  <tr>
    <td><%= sumlimit.namelimit %></td>
    <td><%= sumlimit.money %></td>
    <td><%= link_to 'Show', sumlimit %></td>
    <td><%= link_to 'Edit', edit_sumlimit_path(sumlimit) %></td>
    <td><%= link_to 'Destroy', sumlimit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sumlimit', new_sumlimit_path %>
