<h1>Listing tarifs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tarifs.each do |tarif| %>
  <tr>
    <td><%= tarif.name %></td>
    <td><%= tarif.description %></td>
    <td><%= link_to 'Show', tarif %></td>
    <td><%= link_to 'Edit', edit_tarif_path(tarif) %></td>
    <td><%= link_to 'Destroy', tarif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tarif', new_tarif_path %>
