<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @descriptioncall.name %>
</p>

<p>
  <b>Fin:</b>
  <%= @descriptioncall.fin %>
</p>


<%= link_to 'Редактировать', edit_descriptioncall_path(@descriptioncall) %> |
<%= link_to 'Назад', descriptioncalls_path %>
