<header>
  <nav class="round">
      <%= link_to "Журнал пользователей", userlogs_path %> |
      <%= link_to "Тарифы", tarifs_path  %> |
      <%= link_to "Телефонные номера", tnumbers_path %> |
      <%= link_to "Сим карты", sims_path %>  |
      <%= link_to "Журнал сим карт", simnumlogs_path %> |
      <%= link_to "Пользователи", users_path %> |
      <%= link_to "Денежные лимиты", sumlimits_path %> |
      <%= link_to "ЦФУ", cfus_path %> |
      <%= link_to "Время работы", schedules_path %> |
      <%= link_to "Журнал", simlogs_path %> |      
  </nav>
</header>